@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;

    display: flex;
    flex-direction: column;
}


nav{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 75px;
    box-sizing: border-box;
    transition: 0.3s ease;
}
.nav__title{
    margin: 10px 0;
    font-size: 28px;
}
.links__wrapper{
    display: flex;
    gap: 25px;
}
.nav__link{
    font-size: 18px;
    text-decoration: none;
    color: #232323;
}

.closeMenu__btn, .openMenu__btn{
    position: absolute;
    right: 10px;
    top: 23px;

    font-size: 35px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.1s;
    display: none;
}
.closeMenu__btn:hover, .openMenu__btn:hover{
    opacity: 75%;
}

.openMenu__btn{
    right: unset;
    left: 20px;
}

header{

}
.background__wrapper{
    background-image: url("./img/skyscrapers-3184798_1920.jpg");
    background-position: center;
    height: 600px;
    position: relative;
}
.company__title{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

    color: white;
    font-size: 72px;
    text-align: center;
    margin: 0;
}

.cards__wrapper{
    display: flex;
    justify-content: center;
    gap: 70px;

    /* position: relative;
    top: -80px; */
    transform: translateY(-80px);
}
.card{
    background-color: #011627;
    width: 18vw;
    min-height: 250px;
    padding: 25px 20px;
    transition: 0.3s;
}
.card:nth-child(1){
    -webkit-box-shadow: -29px 26px 0px -11px #d5d5d5;
    -moz-box-shadow: -29px 26px 0px -11px #d5d5d5;
    box-shadow: -29px 26px 0px -11px #d5d5d5;   
}
.card:nth-child(2){
    background-color: #FF3366;
}
.card:nth-child(3){
    background-color: #008377;
    -webkit-box-shadow: 29px -29px 0px -11px #d5d5d5;
    -moz-box-shadow: 29px -29px 0px -11px #d5d5d5;
    box-shadow: 29px -29px 0px -11px #d5d5d5;        
}
.card__title, .card__info, .card__text{
    color: white;
}
.card__text{
    font-weight: 100;
}

.section1{
    background-color: #F2F2F2;
    padding: 30px 15vw;
    box-sizing: border-box;
}
.section__title{
    font-size: 45px;
    width: 100%;
    margin: 0;
    position: relative;
}
.title__wrapper{
    display: flex;
    align-items: center;
}
.title__wrapper hr{
    width: 80%;
    height: 7px;
    background-color: #008377;
    outline: none;
    border-radius: 10px;
    border: none;
}

.section1__text__wrapper{
    display: flex;
    align-items: center;
    gap: 35px;
}
.section1__text__wrapper hr{
    width: 10px;
    height: 70px;
    background-color: #FF3366;
    outline: none;
    border-radius: 10px;
    border: none;
}

.section1__text{
    font-size: 20px;

    border-left: 5px solid #FF3366;
    padding-left: 45px;
}

@media screen and (max-width: 1500px){
}
@media screen and (max-width: 1024px) {
    .cards__wrapper{
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    .card{
        width: 80%;
        min-height: 170px;
    }
    .card:nth-child(1), .card:nth-child(3){
        -webkit-box-shadow: unset;
        -moz-box-shadow: unset;
        box-shadow: unset;        
    }
    .title__wrapper hr{
        display: none;
    }
    .title__wrapper{
        text-align: left;
    }
}
@media screen and (max-width: 660px) {
    nav{
        position: fixed;
        top: 0;
        left: 0;

        width: 45%;
        height: 100%;

        flex-direction: column;
        align-items: unset;
        justify-content: unset;
        padding: 10px 25px;
        gap: 180px;
        transform: translateX(-100%);
    }
    .links__wrapper{
        flex-direction: column;
    }
    .closeMenu__btn, .openMenu__btn{
        display: flex;
    }
    .toggleMenu{
        transform: translateX(0%);
    }
    .company__title{
        font-size: 55px;
    }
    .section__title{
        border-left: 8px solid #008377;
        padding-left: 45px;
        font-size: 32px;
    }
    .section1__text{
        border-bottom: 8px solid #FF3366;
        border-left: unset;
        padding-left: unset;
        padding-bottom: 20px;
    }
}