@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;

    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

nav{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 75px;
    box-sizing: border-box;
    transition: 0.3s ease;
}
.nav__title{
    margin: 10px 0;
    font-size: 28px;
}
.links__wrapper{
    display: flex;
    gap: 25px;
}
.nav__link{
    font-size: 18px;
    text-decoration: none;
    color: #232323;
}

.closeMenu__btn, .openMenu__btn{
    position: absolute;
    right: 10px;
    top: 23px;

    font-size: 35px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.1s;
    display: none;
}
.closeMenu__btn:hover, .openMenu__btn:hover{
    opacity: 75%;
}

.openMenu__btn{
    right: unset;
    left: 20px;
}

.background__wrapper{
    background-image: url("./img/skyscrapers-3184798_1920.jpg");
    background-position: center;
    height: 600px;
    position: relative;
}
.company__title{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

    color: white;
    font-size: 72px;
    text-align: center;
    margin: 0;
}

.cards__wrapper{
    display: flex;
    justify-content: center;
    gap: 70px;

    /* position: relative;
    top: -80px; */
    transform: translateY(-80px);
}
.card{
    background-color: #011627;
    width: 18vw;
    min-height: 250px;
    padding: 25px 20px;
    transition: 0.3s;
}
.card:nth-child(1){
    -webkit-box-shadow: -29px 26px 0px -11px #d5d5d5;
    -moz-box-shadow: -29px 26px 0px -11px #d5d5d5;
    box-shadow: -29px 26px 0px -11px #d5d5d5;   
}
.card:nth-child(2){
    background-color: #FF3366;
}
.card:nth-child(3){
    background-color: #008377;
    -webkit-box-shadow: 29px -29px 0px -11px #d5d5d5;
    -moz-box-shadow: 29px -29px 0px -11px #d5d5d5;
    box-shadow: 29px -29px 0px -11px #d5d5d5;        
}
.card__title, .card__info, .card__text{
    color: white;
}
.card__text{
    font-weight: 100;
}

.section1{
    background-color: #F2F2F2;
    padding: 30px 15vw;
    box-sizing: border-box;
}
.section1__title{
    font-size: 45px;
    width: 100%;
    margin: 0;
    position: relative;
}
.title__wrapper{
    display: flex;
    align-items: center;
}
.title__wrapper hr{
    width: 80%;
    height: 7px;
    background-color: #008377;
    outline: none;
    border-radius: 10px;
    border: none;
}

.section1__text__wrapper{
    display: flex;
    align-items: center;
    gap: 35px;
}
.section1__text__wrapper hr{
    width: 10px;
    height: 70px;
    background-color: #FF3366;
    outline: none;
    border-radius: 10px;
    border: none;
}
.section1__text{
    font-size: 20px;

    border-left: 5px solid #FF3366;
    padding-left: 45px;
}

.aboutUs{
    padding: 30px 15vw;
    display: flex;
}
.aboutUs__content{
    width: 50%;
}
.aboutUs__title{
    font-size: 45px;
    position: relative;
}
.aboutUs__title::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10%;
    height: 6px;
    border-radius: 10px;
    background-color: #008377;
}
.aboutUs__text{
    font-size: 20px;
}
.aboutUs__background__wrapper{
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}
.aboutUs__background__wrapper img{
    width: 80%;
    transform: translateY(-50px);
}
.aboutUs__btn{
    position: absolute;
    bottom: 75px;
    left: 0;

    background: rgb(255,51,102);
    background: linear-gradient(90deg, rgba(255,51,102,0.4845587893360469) 0%, rgba(255,51,102,1) 35%);
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.team{
    border: 1px solid red;
    padding: 30px 15vw;
    display: flex;
    justify-content: space-around;
}

.card__background{
    width: 24vw;

    display: flex;
    justify-content: center;
    position: relative;
}
.box__background{
    display: block;
    width: 24vw;
    height: 20vw;
    background-color: #008377;
    position: absolute;
    bottom: 0;
    z-index: -1;
}
.card__info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user__name, .user__info{
    color: #232323;
}
.user__name{
    font-size: 25px;
    margin: 10px auto;
}

.card__line{
    width: 80px;
    border: 1px solid #008377;
}

.socialMedia__wrapper{
    display: flex;
    justify-content: space-around;
    width: 100px;
}

.socialmediaIcon{
    width: 25px;
    height: 25px;
    padding: 5px;

    color: white;
    font-size: 20px;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.facebookIcon{
    background-color: #011627;
    /* text-decoration: none; */
}
.instagramIcon{
    background-color: #FF3366;
    /* text-decoration: none; */
}

@media screen and (max-width: 1500px){
}
@media screen and (max-width: 1024px) {
    .cards__wrapper{
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    .card{
        width: 80%;
        min-height: 170px;
    }
    .card:nth-child(1), .card:nth-child(3){
        -webkit-box-shadow: unset;
        -moz-box-shadow: unset;
        box-shadow: unset;        
    }
    .title__wrapper hr{
        display: none;
    }
    .title__wrapper{
        text-align: left;
    }
    .aboutUs{
        flex-direction: column-reverse;
        position: relative;
        padding-bottom: 75px;
    }
    .aboutUs__background__wrapper,
    .aboutUs__content{
        width: 100%;
    }
    .aboutUs__background__wrapper{
        position: unset;
    }
    .aboutUs__background__wrapper img{
        width: 100%;
        transform: unset;
    }
    .aboutUs__title{
        font-size: 28px;
    }
    .aboutUs__title::after{
        width: 45%;
    }
    .aboutUs__btn{
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media screen and (max-width: 660px) {
    nav{
        position: fixed;
        top: 0;
        left: 0;

        width: 45%;
        height: 100%;

        flex-direction: column;
        align-items: unset;
        justify-content: unset;
        padding: 10px 25px;
        gap: 180px;
        transform: translateX(-100%);
    }
    .links__wrapper{
        flex-direction: column;
    }
    .closeMenu__btn, .openMenu__btn{
        display: flex;
    }
    .toggleMenu{
        transform: translateX(0%);
    }
    .section1, .aboutUs{
        padding: 25px 35px;
    }
    .company__title{
        font-size: 55px;
    }
    .section1__title{
        border-left: 8px solid #008377;
        padding-left: 45px;
        font-size: 32px;
    }
    .section1__text{
        border-bottom: 8px solid #FF3366;
        border-left: unset;
        padding-left: unset;
        padding-bottom: 20px;
    }
    .aboutUs{
        padding-bottom: 75px;
    }
}