@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

nav{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 75px;
    box-sizing: border-box;
    transition: 0.3s ease;
    z-index: 1;
}
.nav__title{
    margin: 10px 0;
    font-size: 28px;
}
.links__wrapper{
    display: flex;
    gap: 25px;
}
.nav__link{
    font-size: 18px;
    text-decoration: none;
    color: #232323;
}

.closeMenu__btn, .openMenu__btn{
    position: absolute;
    right: 10px;
    top: 23px;

    font-size: 35px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.1s;
    display: none;
    z-index: 1;
}
.closeMenu__btn:hover, .openMenu__btn:hover{
    opacity: 75%;
}

.openMenu__btn{
    right: unset;
    left: 20px;
    color: white;
}

.background__wrapper{
    background-image: url("./img/skyscrapers-3184798_1920.jpg");
    background-position: center;
    height: 600px;
    position: relative;
}
.company__title{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

    color: white;
    font-size: 72px;
    text-align: center;
    margin: 0;
}

.cards__wrapper{
    display: flex;
    justify-content: center;
    gap: 70px;

    /* position: relative;
    top: -80px; */
    transform: translateY(-80px);
}
.card{
    background-color: #011627;
    width: 18vw;
    min-height: 250px;
    padding: 25px 20px;
    transition: 0.3s;
}
.card:nth-child(1){
    -webkit-box-shadow: -29px 26px 0px -11px #d5d5d5;
    -moz-box-shadow: -29px 26px 0px -11px #d5d5d5;
    box-shadow: -29px 26px 0px -11px #d5d5d5;   
}
.card:nth-child(2){
    background-color: #FF3366;
}
.card:nth-child(3){
    background-color: #008377;
    -webkit-box-shadow: 29px -29px 0px -11px #d5d5d5;
    -moz-box-shadow: 29px -29px 0px -11px #d5d5d5;
    box-shadow: 29px -29px 0px -11px #d5d5d5;        
}
.card__title, .card__info, .card__text{
    color: white;
}

.card__text{
    font-weight: 100;
}

.section1{
    background-color: #F2F2F2;
    padding: 30px 15vw;
    box-sizing: border-box;
}
.section1__title{
    font-size: 45px;
    width: 100%;
    margin: 0;
    position: relative;
}
.title__wrapper{
    display: flex;
    align-items: center;
}
.title__wrapper hr{
    width: 80%;
    height: 7px;
    background-color: #008377;
    outline: none;
    border-radius: 10px;
    border: none;
}

.section1__text__wrapper{
    display: flex;
    align-items: center;
    gap: 35px;
}
.section1__text__wrapper hr{
    width: 10px;
    height: 70px;
    background-color: #FF3366;
    outline: none;
    border-radius: 10px;
    border: none;
}
.section1__text{
    font-size: 20px;

    border-left: 5px solid #FF3366;
    padding-left: 45px;
}

.aboutUs{
    padding: 30px 15vw;
    display: flex;
}
.aboutUs__content{
    width: 50%;
}
.aboutUs__title{
    font-size: 45px;
    position: relative;
}
.aboutUs__title::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10%;
    height: 6px;
    border-radius: 10px;
    background-color: #008377;
}
.aboutUs__text{
    font-size: 20px;
}
.aboutUs__background__wrapper{
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}
.aboutUs__background__wrapper img{
    width: 80%;
    transform: translateY(-50px);
}
.aboutUs__btn{
    position: absolute;
    bottom: 75px;
    left: 0;

    background: rgb(255,51,102);
    background: linear-gradient(90deg, rgba(255,51,102,0.4845587893360469) 0%, rgba(255,51,102,1) 35%);
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.team{
    padding: 30px 15vw;
    display: flex;
    justify-content: space-around;
}

.team__card__wrapper{
    width: 24vw;
}
.team__card__background{
    height: 380px;
    width: 100%;

    display: flex;
    justify-content: center;
    position: relative;
}
.team__card__photo{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.box__background{
    display: block;
    width: 100%;
    height: 270px;
    background-color: #008377;
    position: absolute;
    bottom: 0;
    z-index: -1;
}
.team__card__info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team__user__name, .team__user__info{
    color: #232323;
}
.team__user__name{
    font-size: 25px;
    margin: 10px auto;
}

.team__card__line{
    width: 80px;
    border: 1px solid #008377;
}

.socialMedia__wrapper{
    display: flex;
    justify-content: space-around;
    width: 100px;
}

.socialmediaIcon{
    width: 25px;
    height: 25px;
    padding: 5px;

    color: white;
    font-size: 20px;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.facebookIcon{
    background-color: #011627;
}
.instagramIcon{
    background-color: #FF3366;
}

.contactUs{
    background-image: url("/img/canyon-1740973_1920.jpg");
    background-position: center;
    background-size: cover;

    padding: 55px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
} 
.form__title{
    margin: 0;
    font-size: 45px;
    color: white;
}
.form__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    width: 65%;
}
.input__wrapper{
    display: flex;
    gap: 25px;
    width: 100%;
}
.form__input{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: rgba(105, 105, 105, 0.477);
    color: white;
    text-indent: 15px;
}
.form__input::placeholder{
    color: rgb(213, 213, 213);
}

.message__input{
    text-indent: unset;
    padding: 15px;
    box-sizing: border-box;
    height: 150px;
    resize: none;
}

.input__submit{
    width: 130px;
    height: 45px;
    background-color: #FF3366;
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 18px;
    color: white;
    border-radius: 5px;
}

footer{
    background-color: #010101;
    display: flex;
    flex-direction: column;
    padding: 45px;
    box-sizing: border-box;
    gap: 35px;
}
.footer__info__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__box__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 125px;
}

.footer__company__logo, .footer__company__name{
    color: white;
}
.footer__company__logo{
    font-size: 30px;
}
.footer__company__name{
    margin: 0;
    font-size: 15px;
}

.company__info{
    text-align: center;
}

.company__tel__number, .company__adress{
    color: white;
}
.company__email{
    font-weight: 600;
    color: #008377;
}
.footer__box__info .nav__link{
    color: white;
    font-weight: 200;
}

footer hr{
    width: 100%;
}

.fa-brands{
    color: white;
}
.social__wrapper{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.social__link{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.3s;
}
.social__link:hover{
    background-color: white;
}
.social__link:hover .fa-brands{
    color: #232323;
}
.copyright__box{
    color: white;
    margin-top: 10px;
}

.portfolio__link{
    text-align: center;
    color: rgba(255, 255, 255, 0.436);
    background-color: #010101;
}

@media screen and (max-width: 1500px){
}
@media screen and (max-width: 1350px) {
    .team {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(380px, auto));
        gap: 10px;
        box-sizing: border-box;
        padding: 30px 15vw;
        width: 100%;
        justify-content: center;
        align-content: center;
    }
    
    .team__card__wrapper{
        width: 380px;
        overflow: hidden;
    }
}
@media screen and (max-width: 1024px) {
    .cards__wrapper{
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    .card{
        width: 80%;
        min-height: 170px;
    }
    .card:nth-child(1), .card:nth-child(3){
        -webkit-box-shadow: unset;
        -moz-box-shadow: unset;
        box-shadow: unset;        
    }
    .title__wrapper hr{
        display: none;
    }
    .title__wrapper{
        text-align: left;
    }
    .aboutUs{
        flex-direction: column-reverse;
        position: relative;
        padding-bottom: 75px;
    }
    .aboutUs__background__wrapper,
    .aboutUs__content{
        width: 100%;
    }
    .aboutUs__background__wrapper{
        position: unset;
    }
    .aboutUs__background__wrapper img{
        width: 100%;
        transform: unset;
    }
    .aboutUs__title{
        font-size: 28px;
    }
    .aboutUs__title::after{
        width: 45%;
    }
    .aboutUs__btn{
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media screen and (max-width: 660px) {
    nav{
        position: fixed;
        top: 0;
        left: 0;

        width: 45%;
        height: 100%;

        flex-direction: column;
        align-items: unset;
        justify-content: unset;
        padding: 10px 25px;
        gap: 180px;
        transform: translateX(-100%);
    }
    .links__wrapper{
        flex-direction: column;
    }
    .closeMenu__btn, .openMenu__btn{
        display: flex;
    }
    .toggleMenu{
        transform: translateX(0%);
    }
    .section1, .aboutUs{
        padding: 25px 35px;
    }
    .company__title{
        font-size: 55px;
    }
    .section1__title{
        border-left: 8px solid #008377;
        padding-left: 45px;
        font-size: 32px;
    }
    .section1__text{
        border-bottom: 8px solid #FF3366;
        border-left: unset;
        padding-left: unset;
        padding-bottom: 20px;
    }
    .aboutUs{
        padding-bottom: 75px;
    }
    .team {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .team__card__wrapper{
        width: 100%;
    }
    .form__wrapper{
        width: 80%;
    }
    .input__wrapper{
        flex-direction: column;
    }

    .footer__info__wrapper{
        flex-direction: column;
        gap: 45px;
    }
    
}
@media screen and (max-width: 500px) {
    .card__wrapper{
        width: 90%;
    }
}