@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


nav{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 75px;
    box-sizing: border-box;
    transition: 0.3s ease;
}
.nav__title{
    margin: 10px 0;
    font-size: 28px;
}
.links__wrapper{
    display: flex;
    gap: 25px;
}
.nav__link{
    font-size: 18px;
    text-decoration: none;
    color: #232323;
}

.closeMenu__btn, .openMenu__btn{
    position: absolute;
    right: 10px;
    top: 23px;

    font-size: 35px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.1s;
    display: none;
}
.closeMenu__btn:hover, .openMenu__btn:hover{
    opacity: 75%;
}

.openMenu__btn{
    right: unset;
    left: 20px;
}

header{
    /* display: block; */
    height: 600px;
}
.background__wrapper{
    background-image: url("./img/skyscrapers-3184798_1920.jpg");
    background-position: center;
    filter: grayscale(100%) brightness(30%);
    /* -webkit-filter: grayscale(100%);  */
    height: 100%;
}
@media screen and (max-width: 660px) {
    nav{
        position: fixed;
        top: 0;
        left: 0;

        width: 45%;
        height: 100%;

        flex-direction: column;
        align-items: unset;
        justify-content: unset;
        padding: 10px 25px;
        gap: 180px;
        transform: translateX(-100%);
    }
    .links__wrapper{
        flex-direction: column;
    }
    .closeMenu__btn, .openMenu__btn{
        display: flex;
    }
    .toggleMenu{
        transform: translateX(0%);
    }
}